<aside
class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
aria-label="Sidenav" id="drawer-navigation">
<div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
  <ul class="space-y-2">
    <li>
      <a href="/dashboard"
        class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
        <i
          class="fa-solid fa-house fa-xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
        <span class="ml-3">Dashboard</span>
      </a>
    </li>
    <li>
      <button type="button"
        class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
        aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
        <i
          class="fa-solid fa-ticket fa-xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
        <span class="flex-1 ml-3 text-left whitespace-nowrap">Tickets</span>
        <i
          class="fa-solid fa-chevron-down text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
      </button>
      <ul id="dropdown-pages" class="hidden py-2 space-y-2">
        <li>
          <a href="/create-ticket"
            class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Create Ticket</a>
        </li>
        <li>
          <a href="/dashboard"
            class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">My Tickets</a>
        </li>

      </ul>
    </li>

  </ul>

  <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
    <li>
      <a href="/settings"
        class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
        <i
          class="fa-solid fa-gear fa-xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
        <span class="ml-3">Settings</span>
      </a>
    </li>
    <li>
      <a href="https://romanianworkers.co.uk/contact-us/"
        class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
        <i
          class="fa-solid fa-headphones fa-xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
        <span class="ml-3">Contact Us</span>
      </a>
    </li>
    <li>
      <a href="https://romanianworkers.co.uk/contact-us/"
        class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
        <i
          class="fa-solid fa-circle-info fa-xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
        <span class="ml-3">Help</span>
      </a>
    </li>
  </ul>
</div>
</aside>